
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
}

.disc-box {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: red;
    h2 {
      font-family: 'Noto Sans SC', sans-serif;
      padding-top: 5px;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
      padding-top: 5px;
    }
    h4 {
      font-family: 'Yusei Magic', sans-serif;
      padding-top: 5px;
    }
    .cover {
      margin: 0 auto;
      height: 60%;
      width: 95%;
      padding-top: 10px;
      background-color: blue;
    }
}
